body {
    color:black;
    background-color: white;
}
.messageContainer{
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}
.subContainer {
    display: flex;
    flex-direction: column;
}